<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .error {
            color: red;
            font-size: 14px;
            display: block; /* ✅ Always show error messages */
        }

        .success{
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login_form">
            <form id="loginForm" action="/forgot" method="POST">
                <h1>Forgot Password</h1>


                <div class="input-box">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                    <small class="error" id="emailError"></small>
                    <% if(errors){ %>
                        <small><span class="error" id="emailExists" style="display: block;">Email already Exists</span></small>
                    <% } %>
                </div>

                <button type="submit" class="btn">Send OTP</button>

                <div class="forgot-link">
                    <a href="/register">Don't have an account?</a>
                </div>
                <div class="forgot-link">
                    <a href="/login">Already have an account?</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("registerForm").addEventListener("submit", function(event) {
            let isValid = true;

            
            const email = document.getElementById("email").value.trim();
           
            const emailError = document.getElementById("emailError");
            

            // Reset errors before validation
            
            emailError.style.display = "none";
            

            // Username Validation
            

            // Email Validation
            const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;


            if (isValid && !emailRegex.test(email)) {
                emailError.innerHTML = "Invalid Email";
                isValid = false;
            }

            // Password Validation
            

            if (!isValid) {
                event.preventDefault();  // Stop form submission if validation fails
            }
        });

        
     </script>
</body>
</html>
